{% extends "ProjectFrontBundle:Helpers:base.html.twig" %}
{%block body%}
<body style="background-color:#a3a3a3;height:100%;">
	{% include 'ProjectFrontBundle:Helpers:social.html.twig' %}
	<div class="main-tab" style="width: 1300px;">

		<div class="middle-left" style="padding-top: 1px;float: left;margin-left: 26px;position: fixed;">
			{% include 'ProjectFrontBundle:Helpers:logobotones.html.twig' %}
			{{ render(controller('ProjectFrontBundle:Helpers:menu', { 'idpage': idpage,'idmenu': 1,'mobile':'' })) }}
		</div>
		{%block contenido%}
		{%endblock%}
		
	</div>
</body>
{%endblock%}