{% if idpage is defined %}
    {% set idnewpage = idpage %}
{%else%}
    {% set idnewpage = '1' %}
{% endif %}

{% extends "ProjectFrontBundle:Helpers:base.html.twig" %}
{%block body%}
<body style="background-color:#a3a3a3;height:100%;">
	{% include 'ProjectFrontBundle:Helpers:social.html.twig' %}
	<div class="main-tab" style="width: 100%;">
            <div class="middle-left" style="padding-top: 1px;float: left;margin-left: 0px;position: fixed;">
                {% include 'ProjectFrontBundle:Helpers:logobotones.html.twig' with {'clase':'logobotones'} %}
                {{ render(controller('ProjectFrontBundle:Helpers:menu', { 'idpage': idnewpage,'idmenu': 1,'mobile':'' })) }}
            </div>
            {%block contenido%}
            {%endblock%}
	</div>
    {% include 'ProjectFrontBundle:Helpers:inferior.html.twig' %}
</body>
{%endblock%}