{% extends "ProjectFrontBundle:Helpers:base.html.twig" %}
{%block body%}
<body style="">
	{% include 'ProjectFrontBundle:Helpers:social.html.twig' %}
	<div class="main-tab">
		<div class="main-row" style="height: 500px;">
			{#<div class="cell-left"></div>#}
			<div class="cell-middle cell-main">
				<div class="middle-tab">
					{% include 'ProjectFrontBundle:Helpers:lenguajes.html.twig' %}
					<div class="middle-row">
						
						<div class="middle-left">
							<div class="logo">
								<a title="Home page" href="{{path('project_front_homepage')}}"> </a>
							</div>
							<div class="logo-imagen">
								<p><a title="Home page" href="{{path('project_front_homepage')}}"><img src="{{asset('front/logo.png')}}"> </a></p>
							</div>
							{{ render(controller('ProjectFrontBundle:Helpers:menu', { 'idpage': idpage,'theme': 'red' })) }}
						</div>
						{%block contenido%}
						{%endblock%}
					</div>
				</div>
			</div>
				{%block celda%}
				{%endblock%}
		</div>
	</div>
	<div id="culture">
		es
	</div>
</body>
{%endblock%}