<div class="logo-universidad" style="position: fixed;
bottom: 30px;
left:5%;
width:200px;">
	<a href="http://etsamadrid.aq.upm.es/" target="_blank">
		<img id="logo-universidad" src="{{asset('front/images/POLITECNICA.png')}}" />
	</a>
	<a href="http://www.upm.es/institucional" target="_blank">
		<img id="logo-universidad" src="{{asset('front/images/ETSAM.png')}}" />
	</a>
</div>

<!-- Este es el div que se va a mostrar en las otras paginas que no sean la principal
<div class="logo-universidad">
	<a href="http://etsamadrid.aq.upm.es/" target="_blank">
		<img id="logo-universidad" src="{{asset('front/images/POLITECNICA.png')}}" />
	</a>
	<a href="http://www.upm.es/institucional" target="_blank">
		<img id="logo-universidad" src="{{asset('front/images/ETSAM.png')}}" />
	</a>
</div>	-->


