	<div class="capa-baja-logo">
		<div>
			<span class="search"><input type="text" value="buscar..."></span>
		</div>
		<div>
			<span class="copyrighted">Copyrights © Efimeras</span>
		</div>
		<div>
			<p>
				<a href="http://realego.es/" target="_blank">
					<img src="{{asset('design.png')}}">
				</a>
			</p>
		</div>
	</div>