<div class="news-cell" style="padding: 0px;">
	<h2>Última Hora</h2>
		{%for elementop in elementp%}
			<img src="{{asset(elementop.getWebPath)}}" style="margin-top:15px;" width="245" height="150">
		{%endfor%}
</div>