<div style="margin-top: 12px;font-weight: bold;" class="botonLugar_elemento">
    <h3>Escuela Tecnica Superior de </br> Arquitectura de Madrid</h3>
    <br>
    <p>Telefono: {%if telefono is not null%}{{telefono.value}}{%endif%}</p>
    <p>Email: {%if email is not null%}{{email.value}}{%endif%}</p>
</div>
<div style="margin-top: 12px;" class="botonLugar_elemento">
    <input type="button" value="Como llegar" id="botonLugar_submit" style="background: #000000;border: none;color: {{colorOb}};float: right;margin-right: 30px;font-weight: bolder;cursor:pointer; padding:4px 8px;" {%if lugar is not null%}onclick="document.location.href = '{{lugar.value}}'"{%endif%}>
</div>



