<div style="margin-top: 12px;font-weight: bold;" class="botonLugar_elemento">
    <h3>Escuela Tecnica Superior de Arquitectura de Madrid</h3>
    <br>
    <p style="font-size: 0.8em;">Telefono: {%if telefono is not null%}{{telefono.value}}{%endif%}</p>
    <br>
    <p style="font-size: 0.8em;">Email: {%if email is not null%}{{email.value}}{%endif%}</p>
   
</div>
<div style="margin-top: 12px;" class="botonLugar_elemento">
    <input type="button" value="Como llegar" id="botonLugar_submit" style="background: #000000;border: none;color: white;float: right;margin-right: 15px;font-weight: bolder;cursor:pointer" {%if lugar is not null%}onclick="document.location.href = '{{lugar.value}}'"{%endif%}>
</div>



