<div class="menu" style="float:left;width: 260px;margin-top: 20px; margin-left:80px;">
    {% set p = 0 %}
    {% set c = 0 %}    
    {%for object in items%}
        {%if object.tipo != 2%}
            {% if object.tipo == 0 %}
                {% set p = p + 1 %}
                {%if p==1%}
                    <div class="menu-element1">
                {%else%}
                    <div class="menu-element">
                {%endif%}
                        <a id="page" href="{{path('project_front_page',{'id': object.page.id, 'friendlyname' : object.page.friendlyName})}}"> {{object.name}}
                        </a>
            {%else%} 
                {% set c = c + 1 %}
                    <div class="menu-element" {%if c==1%} style="margin-top:5px;" {%endif%}>
                       <a id="category" href="{{path('project_front_category',{'id': object.category.id, 'friendlyname' : object.category.friendlyName})}}"> {{object.name}}
                        </a> 
            {%endif%} 
                    </div>
        {%else%}
                    <div class="menu-element spacer"></div>
        {%endif%}
    {%endfor%}
    <div class="creditos" style="padding-top:20px;">
        <p style="color:white; font-weight: bold; font-size:16px">
            <a title="Equipo Efimeras" href="http://www.master-arquitectura-efimera.com/page/19/equipo-efimeras">Equipo Efímeras</a>
        <p> 
    </div>

</div>