<div class="share-cont">
	<div class="share-fb">
		<a target="_blank" title="On Facebook" href="#"> </a>
	</div>
	<div class="share-tw">
		<a target="_blank" title="On Twitter" href="#"> </a>
	</div>
	<div class="share-in">
		<a target="_blank" title="On LinkedIn" href="#"> </a>
	</div>
</div>
