<li>
	<a href="{{asset(''~ element.getWebPath ~'')}}" data-rel="colorbox"> <img alt="150x150" src="{{ element.getWebPath | apply_filter('galeria') }}" width="150" height="150" />
	<div class="text">
		<div class="inner">
			{{element.name}}
		</div>
	</div> </a>
	<div class="tools tools-bottom" tipo="Background" objeto="{{element.id}}">

	</div>
</li>