<li>
	<a href="#" data-rel="colorbox" id="textodeunaimagen"> <img alt="150x150" src="{{asset(''~ element.getWebPath ~'')}}" width="150" height="150" id="urldeunaimagen" name="{{element.name}}" />
	<div class="text">
		<div class="inner">
			{{element.name}}
		</div>
	</div> </a>
</li>