{% extends "ProjectFrontBundle:Helpers:body.html.twig" %}

{%block contenido%}
<div class="middle-right-sub">
	{% include 'ProjectFrontBundle:Helpers:controller-menuMobile.html.twig' %}
	<div class="news-cont"  style="margin-left: 20px;">

		<div class="news-cell">

			 <div id="contenidoBotonLugar" style="margin-top:55px;">
			 {#
				{{ render(controller('ProjectFrontBundle:Helpers:lugar', {'colorOb': page.theme.color } )) }}
			#}
		    </div>
		</div>
		<div class="lower-text"></div>
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
{%endblock%} 