{% extends "ProjectFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images = ["{{ asset('uploads/backgrounds/853795ce12735e8e29be52e69be73c9723ad337d.jpeg') }}"];
{%endblock%}

{%block contenido%}
<div class="middle-right-sub">
	{% include 'ProjectFrontBundle:Helpers:controller-menuMobile.html.twig' %}
	<div class="news-cont"  style="margin-left: 20px; border-radius:6px;">

		<div class="news-cell">

			 <div id="contenidoBotonLugar" style="margin-top:55px;">
				{{ render(controller('ProjectFrontBundle:Helpers:lugar', {'reducido': true, 'colorOb': 'blue' } )) }}
		    </div>
		</div>
		<div class="lower-text"></div>
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
{%endblock%} 